/*General*/
@font-face {
	font-family:Splurge;
	src:url(../fonts/splurge.ttf);
}
@font-face {
	font-family:"Capture it";
	src:url(../fonts/Capture_it.ttf);
}
body {
	background-image:url(../images/bckgcurve22.png);
	background-color:#7FFC00;
	font-family:Verdana, Geneva, sans-serif;
}
a {
	text-decoration:none;
	font-weight:bold;
	color:#7C09B7;
}
a:hover {
	color:#FF6400;
}
#container {
	width:1010px;
	margin:auto;
	border: thick solid #000;
	background-color:#C1C1C1;
}
header img {
	width:auto;
	border: 2px solid #000;
	background-color: #EFEFEF;
}
/*Bootstrap Nav*/
nav {
	background-color:#C7C7C7;
	padding:3px;
}
nav a {
	border:thin solid #000;
	background-color:#7C09B7;
	text-decoration:none;
	font-size:24px;
	color: #FFF;
	font-weight:bold;
}
nav a:hover {
	color:#000;
}
/*end Bootstrap Nav*/
/*NAV*/
#nav {
	margin:auto;
	width:720px;
	border:3px solid #000;
	background-color:#C7C7C7;
	padding:3px;
}
#nav a {
	border:thin solid #000;
	background-color:#7C09B7;
	text-decoration:none;
	font-size:24px;
	color: #FFF;
	font-weight:bold;
}
#nav a:hover {
	color:#000;
	background-color:#FF6400;
	padding:5px;
	border:3px solid #000;
}
#current, #nav .current {
	background-color:#FF6400;
	color:#000;
}
/*main*/
main {
	width:900px;
	margin:auto;
}
.title {
	font-family:Splurge;
	font-size:48px;
	color:#A300F6;
}
.cut {clear:both;}
.titleLink {
	text-decoration:none;
	font-family:"Capture it";
	color:#76E900;
	font-size:36px;
}
.titleLink:hover {text-decoration:underline;}
table th {
	background-color:#7C09B7;
	color:#FFF;
	text-align:center;
}
#adobeIcon {float:right;}
/*Footer*/
footer {
	clear:both;
	border:thick solid #000;
	text-align:center;
	font-family:"Comic Sans MS", cursive;
}